/****** colors *****/
/*
Light grey  #EBEDF2
light blue  #9FBFD4
dark blue   #598391
light brown #D9CDB8
medium brown    #734E39
dark brown  #260801
*/

/*
body{
    font: 100%/1.5 "Helvetica Neue", Arial, Helvetica;
    max-width: 960px;
    margin: 36px auto;
    text-align: center;
    display: inline;
    background-color: #EBEDF2;
    background: url("../images/Cute-Baby-Hedgehog.jpg") center no-repeat;
}

#mission_statement {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    background: #EBEDF2;
    padding-right: 1%;
    margin-top: 1em;
}

section {
    float: right;
    text-align: left;
}

#side_nav {
    float: left;
    width: 20%;
    text-align: left;
    padding-left: 5%;
}
#side_nav li{
    padding: 5%;

}
#side_nav li:nth-child(odd){
    background: #EBEDF2;
}
#side_nav li:nth-child(even){
    background: #9FBFD4;
}

h1 {
    color: #598391;
}

h1, p {
    padding: 0 1.5625%;
}

nav {
    border-top: 1px dashed #D9CDB8;
    border-bottom: 1px dashed #D9CDB8;
    margin: 0 auto;
}

#top_nav li {
    padding: 0 1.5625% 0 1.5625%;
    display: inline;
}

a[id] {
    color: #598391;
}


a {
    color: #734E39;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #260801;
    font-size: 1.2em;
}

h2{
    text-align: center;
    color: #598391;
    font-size: 2em;
    border-bottom: 1px dashed #D9CDB8;
}

span:first-child{
    font-size: 1.3em;
    font-weight: bold;
    color: #598391;
}

li > a {
    font-weight: bold;
}

h2 + p {
    margin-top: .6em;
    font-style: bold;
}

footer {
    color: #EBEDF2;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #260801;
    font-size: 12px;
    clear: both;
}
*/