/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
.main{padding-top:3%;}
.row{padding: 2% 0;}
.blue{background-color:#D9CDB8;}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
body{
	font-family: 'Alice',sans-serif;
	font-size: 1.5em;
	color: #260801;
}
h2{
	font-family: 'Roboto', cursive;
	font-size: 3em;
	margin: 0.67em;
}
h2.bio{color:#734E39;}
p.bio{color: #260801;}

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
header.main_nav{
	padding: 1% 0;
	display: block;
}
.name{
	margin: 5% auto;
	text-align: center;
}
.name a{
	font-size: 3em;
	color: #598391;
	text-decoration: none;
	padding: 2px 10px 0 10px;
	margin: 0;
}
.name a:hover{
	color: #EBEDF2;
	cursor: pointer;
}
/* Images & Media
–––––––––––––––––––––––––––––––––––––––––––––– */
img{max-width: 100%;}
img.avatar{
	border-radius: 400px;
	border: 5px solid #fff;
}
img:hover{opacity:0.8;}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
ul.social{
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
ul.social li a{
	color: #666;
}
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.instagram a:hover{color: rgb(81,127,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}
ul.social li.flickr a:hover{color: rgb(255,0, 132);}
ul.social li.linkedin a:hover{color: rgb(0, 123,182);}

p.copyright{
	text-align: center;
	color: #666;
	font-size: 1em;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {
	.logo a{font-size: 2em;} /*change font size of logo*/
	.main{padding-top: 15%;}	/*extra padding on top of logo and images container */
	.portfolio img{margin-bottom: 10%} /* more space under images */
	img.avatar{margin-top: 15%}	/* headroom for amy's avatar */
	h2.bio{font-size: 2.5em;} /*change font size on heading */
	p.bio{font-size: 1.75em; color: #3f7f7c;} /* change color and size of body text. */
	ul.social li a{font-size: .75em;} /* change size of social icons */
	
}


/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
