/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */

body{
	display: block;
	font-size: 100%;
}
.nine.columns .four.columns, .nine.columns .five.columns{
	background-color: rgba(89,131,145,.25);
	margin: 2%
}
.nine.columns{
	float: right;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.083333333333%;
  padding-left: 2.083333333333%;
  box-sizing: border-box; }
  
  .column,
.columns {
  width: 100%;
  padding: 0 2.083333333333%;
  float: left;
  box-sizing: border-box; }
  

.one.column, .one.columns {
	width: 8.33333333333333%;
} /*80px */
.two.columns{
	width: 16.66666666666666%;
}/*160px */
.three.columns{
	width: 25%;
}/*240px */
.four.columns{
	width: 33.33333333333332%;
}/*320px */
.five.columns{
	width: 41.66666666666665%;
}/*400px */
.six.columns{
	width: 50%;
}/*480px */
.seven.columns{
	width: 58.33333333333331%;
}/*560px */
.eight.columns{
	width: 66.66666666666664%;
}/*640px */
.nine.columns{
	width: 75%;
}/*720px */
.ten.columns{
	width: 83.33333333333333%
}/*800px */
.eleven.columns{
	width: 91.66666666666663%;
}/*880px */
.twelve.columns{
	width: 100%;
	margin-left: 0;
}/*960px */


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
body{
	font-family: "Roboto", arial;
	color: rgb(35,60,68);
	text-align: center;
	font-size: 1em;
}
h1, h2, h3, h4, h5{
	font-family: 'Alice', cursive;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.75em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.25em;
}
a {
	text-decoration: none;
	color: rgb(35,60,68);
	background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

.mission-statement p{
	text-align: left;
}

table thead tr{
	font-family: 'Alice', cursive;
	font-size: 1.5em;
}
.main .nine.columns{
	text-align: left;
}
.four.columns h4{
	font-family: 'Roboto', arial;
}

#green{
	color: rgb(69,94,56);
}
#blue{
	color: rgb(89,131,145);
}
p#green{
	text-align: center;
}

.four.columns ul li{
	list-style: none;
	padding: .5em;
}
/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */

header .logo {
	width: 100%;
	padding: 1.041666666667%;
	background-color: rgb(221,209,114);
	border-radius: .5208333em;
}
nav {
	padding: 0 1em;
	margin: 1em 0;
	width: 100%;
}
.navbar li a{
	max-width: 16.66666666666667%;
	border: 1px solid rgba(89,131,145, .75);
	margin: .2em;
	padding: .5em 1em 1em;
	border-radius: .5208333em;
	background-color: rgba(89,131,145, .25);
}
.navbar li.active a, .side-nav li.active a{
	background-color: rgba(158,119,137,.25);
	border-color: rgba(158,119,137,.75);
	
}
.navbar li a:hover, .side-nav li a:hover{
	background-color: rgb(89,131,145);
}
.navbar li{
	display: inline-block;
}

.side-nav li{
	width: 100%;
	list-style: none;	
}
.side-nav li a{
	border: 1px solid rgba(89,131,145, .75);
	margin: .5em;
	padding: .5em;
	border-radius: .5208333em;
	background-color: rgba(89,131,145, .25);
	display: inherit;	
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: rgba(69,94,56,.25);
  border-radius: .5208333em;
  text-align: left;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}





/* Images & Media
–––––––––––––––––––––––––––––––––––––––––––––– */
.img-responsive{
	max-width: 100%;
	height: auto;
}
.logo img {
	max-height: 84px;	
}
.social ul{
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
.social ul li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
.social ul li a{
	color: rgb(89,131,145);
}
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.instagram a:hover{color: rgb(81,127,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}
ul.social li.flickr a:hover{color: rgb(255,0, 132);}
ul.social li.linkedin a:hover{color: rgb(0, 123,182);}




/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
footer .twelve.columns{
	font-size: .75em;
	padding: 2%;
	margin: 2%;
	background-color: rgba(158,119,137,.25);
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 320px) {
	.container {
		width: 33.33333333333333%;
		font-size: .3333em;
	}
	iframe {
        	width: 33.33333333333333%;
    }
}
@media (max-width: 480px) {
	.container {
		width: 50%;
		font-size: .5em;
	}
	iframe {
        	width: 50%;
    }

}
@media (max-width: 768px) {
  	.container {
    		width: 80%;
    		font-size: .8em;
  }
  iframe {
        	width: 80%;
    }

}
@media (min-width: 960px) {
    .container {
        width: 100%;
        font-size: 1em;
    }
    iframe {
        	width: 100%;
    }
       
}






