/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */

body{
	display: block;
	font-size: 100%;
}
.nine.columns .four.columns, .nine.columns .five.columns{
	background-color: rgba(89,131,145,.25);
	margin: 2%
}
.nine.columns{
	float: right;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.083333333333%;
  padding-left: 2.083333333333%;
  box-sizing: border-box; }
  
  .column,
.columns {
  width: 100%;
  padding: 0 2.083333333333%;
  float: left;
  box-sizing: border-box; }
  

.one.column, .one.columns {
	width: 8.33333333333333%;
} /*80px */
.two.columns{
	width: 16.66666666666666%;
}/*160px */
.three.columns{
	width: 25%;
}/*240px */
.four.columns{
	width: 33.33333333333332%;
}/*320px */
.five.columns{
	width: 41.66666666666665%;
}/*400px */
.six.columns{
	width: 50%;
}/*480px */
.seven.columns{
	width: 58.33333333333331%;
}/*560px */
.eight.columns{
	width: 66.66666666666664%;
}/*640px */
.nine.columns{
	width: 75%;
}/*720px */
.ten.columns{
	width: 83.33333333333333%
}/*800px */
.eleven.columns{
	width: 91.66666666666663%;
}/*880px */
.twelve.columns{
	width: 100%;
	margin-left: 0;
}/*960px */


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
body{
	font-family: "Roboto", arial;
	color: rgb(35,60,68);
	text-align: center;
	font-size: 1em;
}
h1, h2, h3, h4, h5{
	font-family: 'Alice', cursive;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.75em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.25em;
}
a {
	text-decoration: none;
	color: rgb(35,60,68);
	background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

.mission-statement p{
	text-align: left;
}

table thead tr{
	font-family: 'Alice', cursive;
	font-size: 1.5em;
}
.main .nine.columns{
	text-align: left;
}
.four.columns h4{
	font-family: 'Roboto', arial;
}

#green{
	color: rgb(69,94,56);
}
#blue{
	color: rgb(89,131,145);
}
p#green{
	text-align: center;
}

.four.columns ul li{
	list-style: none;
	padding: .5em;
}
legend{
	font-size: 1.5em;
	font-family: 'Alice';
}
/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */

header .logo {
	width: 100%;
	padding: 1.041666666667%;
	background-color: rgb(221,209,114);
	border-radius: .5208333em;
}
nav {
	padding: 0 1em;
	margin: 1em 0;
	width: 100%;
}
.navbar li a{
	max-width: 16.66666666666667%;
	border: 1px solid rgba(89,131,145, .75);
	margin: .2em;
	padding: .5em 1em 1em;
	border-radius: .5208333em;
	background-color: rgba(89,131,145, .25);
}
.navbar li.active a, .side-nav li.active a{
	background-color: rgba(158,119,137,.25);
	border-color: rgba(158,119,137,.75);
	
}
.navbar li a:hover, .side-nav li a:hover{
	background-color: rgb(89,131,145);
}
.navbar li{
	display: inline-block;
}

.side-nav li{
	width: 100%;
	list-style: none;	
}
.side-nav li a{
	border: 1px solid rgba(89,131,145, .75);
	margin: .5em;
	padding: .5em;
	border-radius: .5208333em;
	background-color: rgba(89,131,145, .25);
	display: inherit;	
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: rgba(69,94,56,.25);
  border-radius: .5208333em;
  text-align: left;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}

/* Transition & Transform
–––––––––––––––––––––––––––––––––––––––––––––– */


/* Form
–––––––––––––––––––––––––––––––––––––––––––––– */

input[type=text],input[type=submit],input[type=email],input[type=tel],input[type=number],input[type=datetime],textarea,button, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	margin: 0;
	margin-bottom: 10px;
}


form {
	font: normal .8em/1em Arial, Helvetica, Geneva, sans-serif;
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
	background-color: rgba(89,131,145,.25);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;


	-webkit-box-shadow: 10px 10px 20px #20242C;
	-moz-box-shadow: 10px 10px 20px #20242C;
	box-shadow: 10px 10px 20px #20242C;
}



form fieldset{
	content:attr(title);
	display: block;
	padding: 0;
	padding: 20px 10px 3px 10px;
	font-weight: bold;
	font-size: 1.25em;
	color: #777;
	margin: 0 auto;
	text-shadow: 1px 1px 1px #FFF;
	border: none;
}
  
form legend {
	padding: 2%;
}


form label{
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #454D4D;
	text-shadow: 1px 1px 1px #FFF;
	padding-left: 5px;
}


form input, form textarea, form input[type="text"] {
	display: block;
	width: 96%;
	padding: 5px;
	margin: 0 auto;	
	outline: none;
	border: 1px solid #999;

	background: #CCCCCC;
	background: -webkit-linear-gradient(#FFFFFF,#DDDDDD) no-repeat;
	background: -moz-linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	background: -o-linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	background: -ms-linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	background: linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BBBBBB',GradientType=0 );

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}




form input[type="checkbox"] {
	width: auto;
	display: inline;
	padding: 2%;
	margin: 2%;
}

form textarea {
	height: 75px;
}

form select {
	width: 200px;
	width: 50%;
	min-width: 100px;	
	color: #EEE;
	font-weight: bold;
	border: 0;

	background: #DDD172;
	background: -webkit-linear-gradient(#455E38,#DDD172);
	background: -moz-linear-gradient(#455E38,#DDD172);
	background: -o-linear-gradient(#455E38,#DDD172);
	background: -ms-linear-gradient(#455E38,#DDD172);
	background: linear-gradient(#455E38,#DDD172);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#455E38', endColorstr='#DDD172',GradientType=0 );

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

form button {
	width: 100px;
	width: 20%;
	min-width: 100px;
 	height: 24px;
	float: right;
	padding: 0;
	margin-right: 10px;
	margin-top: 5px;
	border: 0;
	color:#FFF;
	font-weight: bold;
	cursor: pointer;
	
	background: url(arrows.png) no-repeat right top, #598391;
	background: url(arrows.png) no-repeat right top, -webkit-linear-gradient(#598391,#233C44);
	background: url(arrows.png) no-repeat right top, -moz-linear-gradient(#598391,#233C44);
	background: url(arrows.png) no-repeat right top, -ms-linear-gradient(#598391,#233C44);
	background: url(arrows.png) no-repeat right top, -o-linear-gradient(#598391,#233C44);
	background: url(arrows.png) no-repeat right top, linear-gradient(#598391,#233C44);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#598391', endColorstr='#233C44',GradientType=0 );
	
	

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

form button:hover {
	background: #233C44;
	background: url(arrows.png) no-repeat right top, #233C44;
	background: url(arrows.png) no-repeat right top, -webkit-linear-gradient(#233C44,#598391);
	background: url(arrows.png) no-repeat right top, -moz-linear-gradient(#233C44,#598391);
	background: url(arrows.png) no-repeat right top, -ms-linear-gradient(#233C44,#598391);
	background: url(arrows.png) no-repeat right top, -o-linear-gradient(#233C44,#598391);
	background: url(arrows.png) no-repeat right top, linear-gradient(#233C44,#598391);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#233C44', endColorstr='#598391',GradientType=0 );
}


/* Images & Media
–––––––––––––––––––––––––––––––––––––––––––––– */
.img-responsive{
	max-width: 100%;
	height: auto;
}
.logo img {
	max-height: 84px;	
}
.social ul{
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
.social ul li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
.social ul li a{
	color: rgb(89,131,145);
}
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.instagram a:hover{color: rgb(81,127,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}
ul.social li.flickr a:hover{color: rgb(255,0, 132);}
ul.social li.linkedin a:hover{color: rgb(0, 123,182);}

.two.columns img{
	width: 100%;
	height: auto;
	padding: 2%;
}
.two.columns .container{
	border: 1px solid #333;
	padding: 2%;
	margin: 2%;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
footer .twelve.columns{
	font-size: .75em;
	padding: 2%;
	margin: 2%;
	background-color: rgba(158,119,137,.25);
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 320px) {
	.container {
		width: 33.33333333333333%;
		font-size: .3333em;
	}
	iframe {
        	width: 33.33333333333333%;
    }
    .side-nav{
    		display: none;
    }
}
@media (max-width: 480px) {
	.container {
		width: 50%;
		font-size: .5em;
	}
	iframe {
        	width: 50%;
    }
    .side-nav, .social{
    	display: none;
    }
    
}
/*Tablets*/
@media (max-width: 768px) {
  .container {
    		width: 80%;
    		font-size: .8em;
  }
  iframe {
        	width: 80%;
    }
    .three.columns.right{
    	display: none;
    }
    
    

}













