/****** colors *****/
/*
Light grey  #EBEDF2
light blue  #9FBFD4
dark blue   #598391
light brown #D9CDB8
medium brown    #734E39
dark brown  #260801
*/

/********** MAIN STYLES **********/
body{
    font: 100%/1.5 "Helvetica Neue", Arial, Helvetica;
    max-width: 960px;
    margin: 3.75% auto;
    text-align: center;
    display: inline;
    background-color: #EBEDF2;

}
h1 {
    color: #598391;
}

h1, p {
    padding: 0 1.5625%;
}
/********** NAVIGATION **********/
nav {
    border-top: 1px dashed #D9CDB8;
    border-bottom: 1px dashed #D9CDB8;
    margin: 0 auto;
}
#top_nav li {
    padding: 0 1.5625% 0 1.5625%;
    display: inline;
}

#side_nav {
    float: left;
    width: 20%;
    text-align: left;
    text-size: .75em;

}
#side_nav li{

    list-style-type: none;
}
/***** nth Child Selectors *****/
#side_nav li:nth-child(odd){
    background: #EBEDF2;
}
#side_nav li:nth-child(even){
    background: #9FBFD4;
}
/***** Child Selector *****/
li > a {
    font-weight: bold;
}
/***** Attribute Selector *****/
a[id] {
    color: #598391;
}
a {
    color: #734E39;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: #260801;
    font-size: 1.2em;
}

/********** Body **********/
#mission_statement {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    background: #EBEDF2;
    margin-top: 1em;
}

section {
    float: right;
    text-align: left;
}

h2{
    text-align: center;
    color: #598391;
    font-size: 2em;
    border-bottom: 1px dashed #D9CDB8;
}

/***** Adjacent Selector *****/
h2 + p {
    margin-top: .6em;
    font-style: bold;
}

/***** Structural Pseudo-Class Selector *****/
span:first-child {
    font-size: 1.3em;
    font-weight: bold;
    color: #598391;
}
#hedgehog_container img {
    max-width: 100%;
}

/***** Footer *****/
footer {
    color: #EBEDF2;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #260801;
    font-size: .75em;
    clear: both;
}

/****** Media Queries *****/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
    section {
        background-color: red;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    section {
        background-color: blue;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    section {background-color: green;}
    img {display: none;}
    #side_nav {display: none;}
}